.section{
    display: flex;
    justify-content: center;
}

.container{
    width: 1000px;

}

.informationBox{
    display: flex;
    flex-direction: column;
}

.horseHeadBox{
    margin-bottom: 10px;
}

.titleBox{
    margin-bottom: 10px;
}

.title{
    width: 100%;
    height: 35px;
    border: 1px solid #dadada;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

.title:focus{
    border: 1px solid #000;
}

.editorBox{
    display: flex;
    flex-direction: column;
}

.editorBtnBox{

}

.editorContainer{
    outline: none;
    border: 1px solid #dadada;
    min-height: 500px;
    max-height: 500px;
    padding: 10px;
    overflow-y: auto;
}

.editor{
    
}

.editor:focus{
    border: 1px solid #000;
}

.noticeBox{

}

.saveBox{

}

.saveBtn{

}