

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
}

.boardInformaionBox {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    width: 100%;
}

.informaionTitleBox {
    display: flex;
    margin-bottom: 10px;
    font-weight: 600;
}

.informationCategory{
    margin-right: 5px;
}

.informationTitle{

}

.boardInformaionBox2 {
    display: flex;
    justify-content: space-between;
}

.informationDataBox{
    display: flex;
    align-items: center;
}

.informationNick{
    font-size: 14px;
    color: var(--board-information-text-gray);
}

.informationBar{
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--board-information-text-gray)
}

.informationCreateDate{
    font-size: 13px;
    color: var(--board-information-text-gray)
}

.informationView{
    font-size: 13px;
    color: var(--board-information-text-gray)
}

.informationLike{
    font-size: 13px;
    color: var(--board-information-text-gray)
}

.informationCommentCount{
    font-size: 13px;
    color: var(--board-information-text-gray)
}

.headerTitle {
    display: flex;
}

.contentBox {
    min-height: 500px;
    margin-top: 20px;
    width: 100%;
}

.likeBox {
    display: flex;
    justify-content: center;
    border-top: 1px solid #000;
    width: 100%;
    position: relative;
}

.like{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.likeWrapper, .likeWrapper2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.likeWrapper {
    color: rgb(255, 95, 95);
}

.likeWrapper2 {
    color: white;
}

.likeNumber {
    margin-top: 10px;
    font-size: 20px;
}

.reviewBox {
    width: 1000px;
    margin-top: 20px;
    height: 50px;
}

.writeReview {
    width: 90%;
    height: 50px;
}

.reviewBtn {
    width: 10%;
    height: 50px;
}

.reviewViewBox {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border: 1px solid black;
    border-bottom: none;
    width: 1000px;
}

.reviewData {
    border-bottom: 1px solid black;
    padding: 5px;
}

.reviewId {
    margin-bottom: 5px;
}

.reviewContent {
    background-color: bisque;
    padding: 5px;
}