.section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    width: 1000px;
    min-height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.titleBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 20px;
    font-family: 'S-CoreDream-9Black';
}   

.selectBox{
    display: flex;
    align-items: center;
}

.categoryBox{
}

.categoryBtn{
    padding: 6px 24px;
    font-size: 15px;
    border: 2px solid #000;
    margin-right: 5px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

input:checked + .categoryBtn{
    color: #fff;
    background-color: #000;
}

.selectContentBox{
    
}

.select{
    height: 30px;
    outline: none;
    border-radius: 15px;
    width: 80px;
    text-align: center;
    border: 0px;
    border: 1px solid #000;
}

.updateDate{
    font-size: 12px;
    color: #cccccc;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.contentBox{

}
