.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstBox{
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    user-select: none;
    cursor: pointer;
}

.secondBox{
    width: 1000px;
    display: flex;
    flex-direction: column;
}



.thirdBox{
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.onAir{
    border: 2px solid red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    animation: sparkle 2s infinite;
}

.onAirContent{
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: red;
    animation: sparkle 2s infinite ease-in-out;
}

@keyframes sparkle {
    0%{
        opacity: 0.2;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}

.youtubePlayerMV{
    width: 1000px;
    height: 565px;
    border-radius: 10px;
}

.contentBox{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.youtubePlayer{
    width: 490px;
    height: 275px;
    border-radius: 10px;
}