.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstBox{
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    user-select: none;
    cursor: pointer;
    font-family: 'KORAILCondensed-Regular';
}

.secondBox{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.secondBoxItem{
    width: 320px;
    display: flex;
    flex-direction: column;
    
}

.secondBoxContent{
    width: 100%;
    height: 250px;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
}

.secondBoxContent:hover{
    transform: translateY(-10px);
}

.boxScroll{
    overflow-y: scroll;
}

.boxScroll::-webkit-scrollbar {
    width: 10px;
}

.boxScroll::-webkit-scrollbar-thumb{
    background: #9d9d9d;
    border-radius: 10px;
}

.boxScroll::-webkit-scrollbar-track {
    background: rgba(129, 129, 129, 0.1);
    border-radius: 10px;
}

.boardItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
    border-bottom: 1px solid rgb(207, 217, 222);
}

.boardTitle{
    font-size: 14px;
}

.boardItem:hover{
    background-color: #f2f2f2;
    
}

.boardTitleLink{
    text-decoration: none;
    color: #000;
}

.boardTitleLink:hover {
    text-decoration: underline;
}

.boardDate{
    color: #b5b5b5;
    font-size: 12px;
}

.thirdBox{
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.onAir{
    border: 2px solid red;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    animation: sparkle 3s infinite;
}

.onAirContent{
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: red;
    animation: sparkle 3s infinite ease-in-out;
}

@keyframes sparkle {
    0%{
        opacity: 0.2;
    }
    35%{
        opacity: 1;
    }
    65%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}

.youtubePlayerMV{
    width: 1000px;
    height: 565px;
    border-radius: 10px;
}

.contentBox{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.youtubePlayer{
    width: 490px;
    height: 275px;
    border-radius: 10px;
    transition: all 0.3s;
}

.youtubePlayer:hover{
    transform: translateY(-10px);
}

.fourthBox{
    width: 1000px;
    margin-top: 20px;
}