.section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    width: 1000px;
    min-height: 500px;
}

.titleBox{
    margin-bottom: 25px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
}

.title{
    font-size: 18px;
    font-family: 'S-CoreDream-9Black';
    background-color: #000;
    color: #fff;
    padding: 0px 4px;
    width: fit-content;
}

.contentBox{

}

.noticeBox{
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
    border: 1px solid #dadada;
    border-radius: 15px;
    padding: 25px 35px;
}

.noticeBox:hover{
    border: 1px solid #000;
}

.notice{
    display: list-item;
    color: #dadada;
}

.noticeBox:hover .notice{
    color: #000;
}

.sendBox{

}

.categoryBox{
    display: flex;
    margin-bottom: 10px;
}

.categoryBtn{
    padding: 4px 12px;
    font-size: 15px;
    border: 2px solid #000;
    margin-right: 5px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

input:checked + .categoryBtn{
    color: #fff;
    background-color: #000;
}

.content{

}

.text{
    width: 100%;
    resize: none;
    outline: none;
    border: 1px solid #dadada;
    padding: 15px;
    height: 450px;
    font-size: 18px;
}

.text:focus{
    border: 1px solid #000;
}

.fileBox{
    margin-top: 20px;
}

.fileLabel{
    border: 1px solid #dadada;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    background-color: #fff;
    gap: 15px;
}

.fileActive {
    background-color: #f0f8ff;
    border-color: #111;
}

.fileIcon{
    font-size: 40px;
}

.fileText{
    font-size: 14px;
}

.fileTextDetail{
    font-size: 12px;
}