.section{
    background-image: url('/Fe304_BREAK_NMIXX_6.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
}

.container{
    width: 1000px;
    min-height: 500px;
}

.titleBox{

}

.title{

}

.contentBox{

}

.noticeBox{

}

.sendBox{

}

.categoryBox{

}

.content{

}
