.section{
    display: flex;
    justify-content: center;
}

.container{
    width: 1000px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signupBox{
    width: 450px;
    min-height: 500px;
    border: 1px solid #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.label{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 3px;
    display: block;
}

.input{
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    border: 1px solid #cfcfcf;
    padding: 10px;
    outline: none;
}

.input:focus{
    border: 1px solid #000;
}

.inputBox{
    width: 100%;
}

.emailBox{
    display: flex;
    gap: 20px;
}

.inputEmail{
    width: 75%;
    height: 35px;
    margin-bottom: 15px;
    border: 1px solid #cfcfcf;
    padding: 10px;
    outline: none;
}

.verifySendBtn{
    width: 25%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cfcfcf;
    background-color: #000;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

.ValidBox{
    width: 100%;
    min-height: 15px;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #c8c8c8;
}

.signupBtn{
    width: 100%;
    height: 35px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    user-select: none;
}