

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.mainBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.boardInformaionBox {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    width: 100%;
}

.informaionTitleBox {
    display: flex;
    margin-bottom: 10px;
    font-weight: 600;
}

.informationCategory{
    margin-right: 5px;
}

.informationTitle{

}

.boardInformaionBox2 {
    display: flex;
    justify-content: space-between;
}

.informationDataBox{
    display: flex;
    align-items: center;
}

.informationNick{
    font-size: 14px;
    color: var(--board-information-text-gray);
}

.informationBar{
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--board-information-text-gray)
}

.informationCreateDate{
    font-size: 13px;
    color: var(--board-information-text-gray)
}

.informationView{
    font-size: 13px;
    color: var(--board-information-text-gray)
}

.informationLike{
    font-size: 13px;
    color: var(--board-information-text-gray)
}

.informationCommentCount{
    font-size: 13px;
    color: var(--board-information-text-gray)
}

.headerTitle {
    display: flex;
}

.contentBox {
    min-height: 500px;
    margin-top: 20px;
    width: 100%;
}

.likeBox {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.likeBoxWrapper{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #dadada;
}

.like{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.likeWrapper, .likeWrapper2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 50%;
}

.likeWrapper {
    background-color: #ededed;
    color: rgb(255, 95, 95);
}

.likeWrapper2 {
    color: #ededed;
}

.likeCount {
    font-size: 20px;
    color: #000;
}

.commentListBox {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.commentItemBox {
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    padding: 10px 0px;
}

.commentProfileBox{
    display: flex;
    align-items: center;
}

.commentImgBox{
    width: 35px;
    height: 35px;
}

.commentProfileImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.commentNick{
    margin-left: 10px;
    font-size: 15px;
    color: #cbcbcb;
}



.commentContenBox {
    margin-top: 10px;
    background-color: #f6f6f6;
    min-height: 100px;
    padding: 15px;
    border-radius: 5px;
}


.commentBox {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.commentInput {
    width: 100%;
    height: 100px;
    outline: none;
    border: 1px solid #cdcdcd;
    resize: none;
    padding: 10px;
}

.commentAddBtn {
    width: 80px;
    height: 30px;
    outline: none;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    margin-top: 5px;
}