.section{
    display: flex;
    justify-content: center;
}

.container{
    width: 1000px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleBox{
    display: flex;
    width: 100%;
}

.title {
    font-size: 18px;
    color: #fff;
    background-color: #000;
    margin-right: 10px;
    padding: 0px 4px;
    font-family: 'S-CoreDream-9Black';
    margin-bottom: 5px;
}

.detailTitle {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin-bottom: 10px;
}

.userInformationBox {
    display: flex;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 75px;
    width: 100%;
    padding: 20px;
}

.userInformation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userImgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}

.userImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #000;
}


.userDataBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 40px;
    justify-content: space-around;
}

.userOutputBox{

}

.userNickname{
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'S-CoreDream-9Black';
}

.userCreateDate{
    font-size: 15px;
    color: #cdcdcd;
    cursor: pointer;
}

.userEmail{
    font-size: 15px;
    color: #cdcdcd;
    margin-bottom: 2px;
    cursor: pointer;
}

.userUpdateBox {
    
}

.userUpdate {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid black;
    cursor: pointer;
    width: 100px;
    padding: 5px;
    font-size: 14px;
}

.sectionBox{
    width: 100%;
    margin-bottom: 50px;
}

.myPostBox {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.noneData{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .paginationBox {
    margin-bottom: 40px;
} */

.myContentBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 75px;
    border-bottom: 1px solid #cdcdcd;
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.myContentBox:nth-last-child(1){
    border-bottom: 0px solid #cdcdcd;
}

.myContentTitle {
    font-size: 16px;
    margin-bottom: 10px;
}

.myContentBox:hover .myContentTitle{
    text-decoration: underline;
}

.myContentInformation {
    display: flex;
    align-items: center;
    gap: 5px;
}

.myContentDivide{
    font-size: 12px;
    color: #cdcdcd;
}

.myContentDate{
    font-size: 13px;
    color: #cdcdcd;
}

.myContentCategory{
    font-size: 13px;
    color: #cdcdcd;
}

.myContentName{

}

/* modal */
.modalSection {
    position: fixed;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
}

.modalBack {
    position: absolute;
    background-color: #00000085;
    z-index: 5;
    height: 100%;
    width: 100%;
}

.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    background:white;
    border-radius: 16px;
    z-index: 6;
}

.modalInfor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    height: 500px;
}

.modalBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: black;
    color:white
}