.section {
    display: flex;
    justify-content: center;
}

.container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.bar {
    width: 150px;
    height: 10px;
    border-radius: 15px;
    position: relative;
    background: linear-gradient(90deg, rgba(240, 240, 240, 1) 0%, rgba(134, 134, 134, 0.5) 50%, rgba(240, 240, 240, 1) 100%);
    transition: all 3s;
    animation: loading 3s ease-in-out infinite;
    background-size: 400% 400%;
}

.bar2 {
    width: 125px;
    height: 10px;
    border-radius: 15px;
    position: relative;
    background: linear-gradient(90deg, rgba(240, 240, 240, 1) 0%, rgba(134, 134, 134, 0.5) 50%, rgba(240, 240, 240, 1) 100%);
    transition: all 3s;
    animation: loading 3s ease-in-out infinite;
    background-size: 400% 400%;
}


@keyframes loading {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.loadingCircle {
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: #00000075;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingCircleBar {
    inset: 0;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(45deg, #8c8c8c, #ffffff);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    width: 35px;
    height: 35px;
    transition: all 1s;
    animation: loadingCircle 1s linear infinite;
}

@keyframes loadingCircle {
    to{
        transform: rotate(0deg);
    }from{
        transform: rotate(-360deg);
    }
}